default_language_version:
  python: python3.12
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.3
    hooks:
      - id: bandit
        files: "^python/ptars/.*.py$"
        additional_dependencies:
          - ".[toml]"
        args: ["--config=pyproject.toml"]
  - repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
    rev: v2.16.0
    hooks:
      - id: pretty-format-rust
        args: [--autofix]
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.47.0
    hooks:
      - id: markdownlint
        args:
          - "--fix"
        exclude: "^CODE_OF_CONDUCT\\.md$"
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.10.4
    hooks:
      - id: uv-lock
  - repo: https://github.com/kynan/nbstripout
    rev: 0.9.0
    hooks:
      - id: nbstripout
        args:
          - "--drop-empty-cells"

  - repo: local
    hooks:
      - id: ty
        name: ty-check
        entry: uv run ty check
        language: python
        types: [python]
        files: ^(python/test/unit/test_api.*|python/ptars/.*)
        pass_filenames: true


  - repo: https://github.com/tox-dev/pyproject-fmt
    rev: v2.16.1
    hooks:
      - id: pyproject-fmt
