[build-system]
build-backend = "maturin"
requires = ["maturin>=1.0,<2.0"]

[dependency-groups]
dev = [
  "coverage>=6.5.0",
  "git-changelog>=2.2.0",
  "inflection>=0.5.1",
  "mkdocs>=1.4.2",
  "mkdocs-material>=9.0.3",
  "mkdocstrings[python]>=0.21.2",
  "pipdeptree",
  "pre-commit>=2.20.0",
  "pylint>=2.15.0",
  "pytest>=7.2.0",
  "pytest-benchmark>=4.0.0",
  "pytest-xdist>=3.1.0",
  "ruff",
  "pandas",
  "tabulate",
  {include-group = "test"}
]
test = [
  "coverage",
  "pytest",
  "grpcio-tools>=1.46.0",
  "maturin",
  "protarrow"
]

[project]
authors = [
  {name = "0x26res", email = "0x26res@gmail.com.co"}
]
classifiers = [
  "Programming Language :: Rust",
  "Operating System :: POSIX :: Linux",
  "Natural Language :: English",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: 3.12",
  "Programming Language :: Python :: 3.13",
  "Development Status :: 4 - Beta",
  "License :: OSI Approved :: Apache Software License"
]
dependencies = [
  "pyarrow",
  "protobuf",
  "googleapis-common-protos"
]
description = "Convert from protobuf to arrow and back in rust"
keywords = ["apache-arrow", "protobuf", "data", "rust"]
license = {text = "Apache-2.0"}
maintainers = [
  {name = "0x26res", email = "0x26res@gmail.com"}
]
name = "ptars"
readme = "README.md"
requires-python = "<4.0,>=3.10"
version = "0.0.8"

[project.urls]
documentation = "https://ptars.readthedocs.io/en/latest/"
repository = "https://github.com/0x26res/ptars"

[tool.bandit]
skips = ["B101"]

[tool.isort]
known_first_party = ["ptars", "ptars_protos"]
profile = "black"
skip = [".gitignore"]
src_paths = ["ptars", "tests"]

[tool.maturin]
bindings = "pyo3"
exclude = ["python/test/**", ".**", "sdist/**", ".github/**"]
features = ["pyo3/extension-module"]
manifest-path = "ptars-python/Cargo.toml"
module-name = "ptars._lib"
python-packages = ["ptars"]
python-source = "python"

[tool.ruff]
lint.select = ["E", "F", "C", "I"]
